.github/workflows/run.yml
name: YouTube Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  run-batch:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run batch file
        run: skkk.bat
